/* phone.css */

/* Header Adjustments */
header h1 {
    font-size: 1.2em;
    text-align: center;
}

header img#tractari {
    display: none;
}

header{
    display: block;
    text-align: center;
    padding: 1px 0;
    margin-bottom: 70px;
}

#despre {
    padding-top:10px;
}

#despre .patterns {
    background-color: transparent; 
}
    
/* Navigation Menu */
nav {
    position: relative;
    height: auto; 
    line-height: normal;
    background-color: lightblue; 
}

nav ul.meniu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; 
    margin: 0; 
}

nav ul.meniu li {
    margin: 5px 0; 
}

nav ul li a {
    padding: 10px 20px; 
    font-size: 1.2rem; 
    color: black;
    text-decoration: none; 
    display: block; 
}

/* Container Adjustments */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .left-content, .container .card {
    width: 90%;
    margin: 5px 0;
}

/* Gallery Adjustments */
#static {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
    padding: 10px;
}

#static > figure {
   position: relative;
    margin: 5px 0;
}

/* Footer Adjustments */
.footer-container {
    flex-direction: column;
    align-items: center;
}

.footer-div {
    margin: 5px 0;
}

.footer-div a img {
    width: 150px;
    height: 150px;
}
