header{
  display: block;
    text-align: center;
    padding: 1px 0; 
}

#titlu{
	font-family: "Apple Chancery";
	font-weight: 700;
	text-align: center;
}

#titlu img#tractari{
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: bottom;
 }

body, main, section{
margin: 0;
padding: 0;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: center; 
    background-color:antiquewhite;
    width: 100%;
}

.flex-container > div {
width: 350px;
margin:5px;
text-align: center;
line-height: 70px;
font-size: 16px;
}

main > section > h2{
    color:white;
    text-align: center;
}

main{
    display: block;
}

main > section > h3{
  color: white;
  text-align: center;
}

/* Sectiunea despre */

#despre{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/nou.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#despre > h4{
  color: white;
  text-align: center;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  min-height: 100vh; 
}
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgba(211, 211, 211, 0.7);
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: opacity 2s ease;
}
.card.active {
  opacity: 1;
}

.card p {
  font-size: 14px;
  color: #333030;
  line-height: 1.5;
  margin: 0; 
  
}

.card-icon {
  margin-bottom: 10px; 
  font-size: 2em; 
  color: #1da6e2; 
  display: flex;
  justify-content: center;
}

.card h2 {
  font-size: 20px; 
  color: black; 
  margin: 15px 0; 
}

.card h3 {
  font-size: 16px; 
  color: #252424; 
  margin: 10px 0; 
}

.left-content {
  width: 60%; 
  padding: 20px;
}

.left-content ol li{
  color: white;
  font-size: 18px;
  font-family: "Apple Chancery";
}

.left-content > h2{
  color: white;
  font-size: 22px;
  font-family: "Apple Chancery";
}


.patterns{
  height: 100px;
}
  
  svg text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: #1da6e2;
    font-size: 90px;
    font-weight: 700;
    stroke-width: 2.5;
   
    animation: textAnimate 5s infinite alternate;
    
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(189, 68%, 75%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
    
  }

  /* Sectiunea galerie */
  #galerie{
    background-color: lightblue;
    padding: 10px 0;
}

#galerie p{
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
}

#galerie p a {
  color: white;
  text-decoration: none;
}

#galerie p a {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

#galerie p a:hover {
  background-size: 0 3px, 100% 3px;
}

/* Gallery with grid */

#static{
	display:grid;
	grid-template-columns:auto auto auto;
	justify-items: center;
	
	}

  #static > figure {
    position: relative;
    opacity: 0; 
    transition: opacity 1s ease, transform 1s ease; 
    transform: translateX(-50px); 
  }
  
  #static > figure.reveal {
    opacity: 1; 
    transform: translateX(0); 
  }

  #static > figure:hover {
    transform: scale(1.2);

  }

footer {
    background-color: #3E77B6;
    color: #eeeeee;
    text-align: center;
}

.footer-container{
display: flex;
justify-content: space-around;
align-items: center;
 flex-direction: row;
}


footer:nth-child(2){
background: black;
}

.footer-div{
flex:1;
padding: 10px;
text-decoration: none;
}

.footer-div i{
color:white;
font-size: 2em;
text-decoration: none;
}

.footer-div:nth-of-type(3) i{
font-size: 1.5em;
}

.footer-div:nth-of-type(3) a{
text-decoration: none;
color: black;
 transition: color 0.6s ease;
}

.footer-div:nth-of-type(3) a:hover{
color: white;
}


.footer-copyright {
    margin-top: 50px;
    padding: 20px;
    height: 50px;
    background-color: lightblue;
}

.footer-copyright p {
    color: #eeeeee;
}
